*{
    margin:0;
    padding:0;

}

.sort-list{text-align: left; background: #f5f5f5; position: relative; z-index: 20;}
.sort-list .active:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.sort-list .active{background:#fff;}
.sort-list div{line-height: 1.6; font-size: 14px;}
.search-wrap{position: relative;z-index: 20;}
.mc-wrap{width: 100%; height: 100%; position:fixed;  top: 0;background: rgba(0,0,0,.5); z-index: 2;}
.navarea{position: relative;z-index: 20;}
.wap-top-bar{position:relative;z-index: 20;}


.sold-out{position:absolute;top:20px;left:20px;width:60px;height:60px;background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;background-size: contain;;}
.searchbox .back {display:inline-block;width:9px;height:40px;margin-right:14px;}
.searchbox .back img {width:9px;height:16px;margin-top:12px;}
.search{background:#f6f6f6;height:40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;flex:1;-webkit-flex:1;}
.search i{width:20px;height:20px;background-size:200px auto;background-position:-51px -76px;margin:8px 0 0 4px;}
.search .search-text{margin-left:15px;}

.ownpng{
    background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;
}
.search .search-text input{height:40px;border-radius:3px;border:none;background:#f6f6f6;font-family:"Microsoft Yahei",tahoma,arial;padding:0px;outline:none;width:90%;text-indent:5px;}
.search b{background:#acacac;width:20px;height:20px;line-height:18px;position:absolute;top:10px;right:10px;}
.chose-con li.arrow:after{right:10px;top:13px;}
.choselicon{position:absolute;top:0px;right:0;width:100%;z-index:12;overflow-y:scroll;}
.selecton{position:absolute;top:10px;right:23px;}
.brands-list{padding:0;}
.brands-list .address {border:1px solid #e7e7e7;padding:2px;border-radius:2px;-webkit-border-radius:2px;}
#searchform .search-text input {width:90%;}
.brands-font h1 .logo {width:38px;height:20px;margin-right:5px;}


.scroll-y{overflow-y:hidden;position:fixed;top:0;left:0;width:100%;}
.screening  li{line-height:40px;}
.screening  li i,.brands-ico{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;}
.screening  .select1 i{display:inline-block;background-position:-11px -41px;width:11px;height:7px;}
.screening  .select1.current i{display:inline-block;background-position:-11px -21px;width:11px;height:7px;}
.screening  .select2 i{display:inline-block;background-position:-11px -41px;width:11px;height:7px;}
.screening  .select2.current i{display:inline-block;background-position:-11px -21px;width:11px;height:7px;}
.screening  .select3 a{color:#666;}
.screening  .select3 a:after,.screening .select4 a:after{content:"";display:inline-block;background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -4px -14px;width:15px;height:14px;position:absolute;top:4px;}
.screening  .select3 .arrow-down:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -138px -54px; height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-default:after{background:url((https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -164px -54px;height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-up:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -113px -54px; height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-up.arrow-default:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -164px -54px;height:22px; top:-2px; transform:scale(0.5);}
.screening  .select4 a:after{background-position:-43px -17px;}
.screening  li:first-child .current{animation: none 0 ease 0 1 normal;}
.screening  li.current{animation:scale 0.5s 1;}
.sort-list{text-align: left; background: #f5f5f5; position: relative; z-index: 20;}
.sort-list .active:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.sort-list .active{background:#fff;}
.sort-list div{line-height: 1.6; font-size: 14px;}
.search-wrap{position: relative;z-index: 20;}
.mc-wrap{width: 100%; height: 100%; position:fixed;  top: 0;background: rgba(0,0,0,.5); z-index: 2;}
.navarea{position: relative;z-index: 20;}
.wap-top-bar{position:relative;z-index: 20;}









/*/////////////////////////品牌主页/////////////////////////*/
body{font-size:10px;background:#f5f5f5;}
.pbtn{font-size:.8125rem;display: inline-block;height:35px;line-height: 35px;padding: 0 20px;background: #ea5858;border-radius: 5px;box-shadow: 2px 2px 0 0 #CCC;color: #FFF;font-weight: 700;}
.brandsBox .sortbox{top:0;}
.brandsBox .brands-list{margin-top:0;}
.brandsBox .choselicon{top:90px;}
.cfff {color:#fff;}
.ft12 {font-size:12px;}
.ft13 {font-size:13px;}
.ft14 {font-size:14px;}
.ft15 {font-size:15px;}
.ft16 {font-size:16px;}
.ml10 {margin-left:10px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.c58 {color:#ea5858;}
.block {display: block;}
/*.bbt {border-bottom:1px solid #e5e5e5;}*/
.bbt{position:relative;}
.bbt:before{content:"";position:absolute; width:200%; height:200%; left:0; top:0; border-bottom:1px solid #e7e7e7; box-sizing: border-box;transform-origin: 0 0; transform:scale(0.5);}
.bgfff {background:#fff;}
.bgf5 {background:#f5f5f5;}
.bg58 {background:#ea5858;}
.ml5 {margin-left:5px;}
/*排序*/
.scroll-y{overflow-y:hidden;position:fixed;top:0;left:0;width:100%;}
.screening  li{line-height:40px;}
.screening  li i,.brands-ico{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat;}
.screening  .select1 i{display:inline-block;background-position:-11px -41px;width:11px;height:7px;}
.screening  .select1.current i{display:inline-block;background-position:-11px -21px;width:11px;height:7px;}
.screening  .select2 i{display:inline-block;background-position:-11px -41px;width:11px;height:7px;}
.screening  .select2.current i{display:inline-block;background-position:-11px -21px;width:11px;height:7px;}
.screening  .select3 a{color:#666;}
.screening  .select3 a:after,.screening .select4 a:after{content:"";display:inline-block;background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -4px -14px;width:15px;height:14px;position:absolute;top:4px;}
.screening  .select3 .arrow-down:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -138px -54px; height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-default:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -164px -54px;height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-up:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -113px -54px; height:22px; top:9px; transform:scale(0.5);}
.screening  .select3 .arrow-down.arrow-up.arrow-default:after{background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -164px -54px;height:22px; top:-2px; transform:scale(0.5);}
.screening  .select4 a:after{background-position:-43px -17px;}
.screening  li:first-child .current{animation: none 0 ease 0 1 normal;}
.screening  li.current{animation:scale 0.5s 1;}
.sort-list{text-align: left; background: #f5f5f5; position: relative; z-index: 20;}
.sort-list .active:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.sort-list .active{background:#fff;}
.sort-list div{line-height: 1.6; font-size: 14px;}
.search-wrap{position: relative;z-index: 20;}
.mc-wrap{width: 100%; height: 100%; position:fixed;  top: 0;background: rgba(0,0,0,.5); z-index: 2;}
.navarea{position: relative;z-index: 20;}
.wap-top-bar{position:relative;z-index: 20;}
@keyframes scale{
    0%,100% {transform:scale(1.0)}
    50% {transform:scale(1.2)}
    20%,80% {transform:scale(1.1)};
}
.screening  li.current a{color:#ea5858;}
.screening .moren span{position:relative; left:2px;}
.select1-box{background:rgba(0,0,0,0.5);width:100%;height:700px;top:41px;left:0;position:absolute;z-index:2;}
.select1-con li.current:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.select1-con li.current{background:#fff;}
.select1-box li a:hover{color:#666;}
.sold-box{background:rgba(0,0,0,0.5);width:100%;height:100%;top:103px;left:0;position:fixed;z-index:1;}
.sold-con li.current{background:#fff;}
.sold-con li.current:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.sold-con li.current{background:#fff;}
.brands-name img{width:80px;}
.brands-name i{position:absolute;top:13px;right:10px;width:30px;height:30px;background-position:-5px -63px;background-size:179px auto;}
.brands-list li{position:relative; padding-right:10px;}
.brands-list li:before{content:"";position:absolute; width:200%; height:1px; left:0; bottom:0; border-bottom:1px solid #e7e7e7; box-sizing: border-box;transform-origin: 0 0; transform:scale(0.5);}
.brands-list .brands-pro{width:100px;height:100px;}
.brands-list .brands-pro img{width:100%;height:100%;}
.brands-list .brands-font{margin-left:105px;border-bottom:0;}
.brands-list .brands-font h1{height:40px;overflow:hidden;line-height:20px;}
.brands-list .brands-font .cu{padding:0px 3px;font-size:12px;margin-right:2px;border-radius:3px;}
.brands-list .country{width:25px;height:25px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;top:4px;left:9px;z-index:1;}
.brands-list .country img {width:25px;height:25px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.brands-list li:last-child .brands-font{border-bottom:0;}
.brandslogo img{height:30px;width:auto;}
.go-brands{margin-top:43px;}
.go-brands i{background-position: -4px -53px;background-size: 154px auto;width: 27px;height: 27px;position:absolute;top:12px;right:10px;}
.introimg img{width:100%;margin-top:8px;}
/*筛选*/
.chose-box{background:#fff;width:100%;height:100%;left:0;top:41px;position:absolute;z-index:5;overflow-y:auto;}
.chose-con li.current{background:#fff;}
.chose-con .choselili.current p.current:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.chose-con .choselili.current p.current{background:#fff;}
.fiexTop{position:fixed; top:0; width:100%; z-index:101;}
/*快捷筛选 update 2017/7/4*/
.quicklist{position:relative;}
.quicklist:before{content:"";position:absolute; width:200%; height:200%; left:0; top:0; border-bottom:1px solid #e7e7e7; box-sizing: border-box;transform-origin: 0 0; transform:scale(0.5);}
.quicklist li{float:left; width:25%; height:30px; padding:5px;}
.quicklist .white-line{display:inline-block; width:100%; height:1px; background-color:#fff; left:0; bottom:-1px;}
.quicklist .current{padding:4px 0 0 0;}
.quicklist .current .quickname{background-color:#fff; border:1px solid #e7e7e7; border-bottom:1px solid #fff;border-bottom: 1px solid #fff;}
.quicklist .quickname{display: inline-block;width: 100%;height: 100%;background-color: #f1f5f6;border-radius: 2px;}
.quicklist .quickname i{vertical-align: -2px; position: relative;left: 2px;}
.quickcon-wrap{z-index: 10; width:100%; height:100%; background:rgba(0,0,0,.2);}
.quickcon{overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.quickcon li{float:left; width:33.33%; height:30px; padding:5px;}
.quickcon .current .quickcon-name{background-color:#f1f5f6;}
.quickcon-name{display:inline-block; width:100%; height:100%;border-radius: 2px;}
.w33{width:33.333%!important;}
.w25{width:25%;}
/*所有筛选*/
.filterBox-wrap{left:100%; display:none;}
.filterBox-list{width:25%; height:100%; background-color:#f6f6f6;}
.filterBox-list li{height:35px; line-height:35px;}
.filterBox-list li.current{background-color:#fff;}
.filterBox-list-con{height:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.filterBox-list-con ul{padding-bottom:50px;}
.filterBox-con{width:75%; height:100%;}
.filterBox-con .filterBox-con-area{height:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
.filterBox-con .filterBox-con-area li{height:35px; line-height:35px; position:relative; font-size:12px;}
.filterBox-con .filterBox-con-area li.current:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.filterBox-con .filterBox-con-area .letter-p{background-color:#f6f6f6;}
.filterBox-con .choose-list{margin:8px 0 10px 0;}
.filterBox-con .choose-list span{display:inline-block; width:40%; height:25px; line-height:25px; text-align:center; border:1px solid #f6f6f6; border-radius:5px; background-color:#f6f6f6; color:#000; margin:0 5px;}
.filterBox-con .choose-list span.active{color:#ea5858; border:1px solid #ea5858; background-color:#fff;}
.filterBox-wrap .btn-area{position:fixed; bottom:0; left:0; width:100%; height:50px; line-height:50px;}
.filterBox-wrap .btn-area div{float:left; box-sizing:border-box; text-align:center;}
.filterBox-wrap .btn-area .btn-goods{width:25%; border-top:1px solid #e7e7e7; background-color:#fff;}
.filterBox-wrap .btn-area .btn-reset{width:30%; border-top:1px solid #e7e7e7; background-color:#fff; border-left:1px solid #e7e7e7;}
.filterBox-wrap .btn-area .btn-ok{width:45%; border-top:1px solid #ea5858; background-color:#ea5858; color:#fff;}

.page-info{display:inline-block; width:80px; height:20px; line-height:20px; background:rgba(0,0,0,.6); color:#fff; position:fixed; bottom:40px; left:calc(50% - 40px);}
/*.loadimg{background: url(../../../../static_web/wap/dist/images/background/default-epet.png) no-repeat; background-size:100% 100%;}*/
.index-listpro{margin-left:110px;}
.index-listpro h1 img{width: auto;height: 17px;margin-right: 3px;vertical-align: -4px;display:inline-block;}
.index-listimg{width:100px;height:100px;}
.index-listimg img{width:100%;height:100%;}
/*.index-listimg .coutryimg{width:25px;height:25px;position:absolute;top:0;left:0;}*/
/*.index-listimg .coutryimg img{border-radius:50%;}*/
.index-listimg .coutryimg{width:25px;height:25px;position:absolute;top:0;left:0;overflow: hidden;border-radius: 50%;border: 1px solid #d7d7d7;}
.index-listimg .coutryimg img{position: absolute;top: -3px;left: -14px;width: auto;height: auto;}
/*.list_libox li{border-bottom:1px solid #e7e7e7;}*/
.list_libox li:last-child{border-bottom:none;}
.list_libox li .cu,.dtlist_libox li .cu{height:25px;}
.list_libox li .cu span.sendware{border-radius: 3px;border:1px solid #ccc;padding: 1px 3px;}
.list_libox li .cu span img{height:17px;}
.addcart{position:absolute;bottom:10px;right:10px;width:30px;z-index:0;}


.choselicon .rows.current:before{content: '';width:30px;height:30px;display:block;background: url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/brands-ico.png) no-repeat -24px -671px;position: absolute;top: 0;right: 0;}
.choselicon .rows.current{background:#fff;}

/*图片列表*/
.goods-swiper{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:1001;}
.goods-swiper .img-area{width:100%; height:100%;}
.goods-swiper .swiper-slide img{width:100%;}
.goods-swiper  .swiper-pagination-fraction{color:#fff; font-size:16px; font-weight:bold;}

.back-top{bottom:40px;width:30px;height:30px;}
/*解决weui bug*/
/*.weui-dialog{transform:translate(0,0); left:10%;}*/
/*.weui-dialog.weui-dialog--visible{transform:translate(0,0)}*/
/*.weui-toast{transform:translate(0,0); left:40%;}*/
/*.weui-toast.weui-toast--visible{transform:translate(0,0)}*/

.float-menu{position:fixed;bottom:10%;right:0;}
.float-menu span{background-size:100% 100%;width:40px;height:40px;}
.float-menu .m-nav{background:rgba(0,0,0,0.8);width:180px;opacity:0;transition:all .3s;position:absolute;top:45px;right:-180px;}
.float-menu .m-nav.m-navdb{display:block;right:0;opacity:1;transition-delay:.3s;}
.float-menu .m-nav a{width:40px;}
.float-menu .m-nav i{width:30px;height:30px;background-size:146px auto;}
.float-menu .m-nav .ico1{background-position:-5px -144px;}
.float-menu .m-nav .ico2{background-position:-5px -186px;}
.float-menu .m-nav .ico3{background-position:-5px -222px;}
.float-menu .m-nav .ico4{background-position:-5px -263px;}

#brandsBox .select1-box{top:90px;}
#brandsBox .chose-box{top:90px;}
/*/////////////////////////列表页/////////////////////////*/
/*已卖光*/
.sold-out{position:absolute;top:20px;left:20px;width:60px;height:60px;background:url(https://static.epetbar.com/static_wap/epetapp/pages/goods_list/images/sole-out.png) no-repeat;background-size: contain;;}
.searchbox .back {display:inline-block;width:9px;height:40px;margin-right:14px;}
.searchbox .back img {width:9px;height:16px;margin-top:12px;}
.search{background:#f6f6f6;height:40px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;flex:1;-webkit-flex:1;}
.search i{width:20px;height:20px;background-size:200px auto;background-position:-51px -76px;margin:8px 0 0 4px;}
.search .search-text{margin-left:15px;}
.search .search-text input{height:40px;border-radius:3px;border:none;background:#f6f6f6;font-family:"Microsoft Yahei",tahoma,arial;padding:0px;outline:none;width:90%;text-indent:5px;}
.search b{background:#acacac;width:20px;height:20px;line-height:18px;position:absolute;top:10px;right:10px;}
.chose-con li.arrow:after{right:10px;top:13px;}
.choselicon{position:absolute;top:0px;right:0;width:100%;z-index:12;overflow-y:scroll;}
.selecton{position:absolute;top:10px;right:23px;}
.brands-list{padding:0;}
.brands-list .address {border:1px solid #e7e7e7;padding:2px;border-radius:2px;-webkit-border-radius:2px;}
#searchform .search-text input {width:90%;}
.brands-font h1 .logo {width:38px;height:20px;margin-right:5px;}

/*没有数据样式*/
/*.nodata-wrap{position:fixed;width:100%;height:100%;top:0;left:0;display:table;z-index:-1;}*/
/*.nodata-wrap .nodata-con{display:table-cell;vertical-align:middle;}*/
.nodata-wrap{background: #f5f5f5;}
.nodata-wrap .nodata-con img{width:35%; margin-bottom:20px;}
.nodata-wrap .nodata-con span{color:#f03e3e;}

/*搜索推荐*/
.search-recommoend{position:fixed; bottom:10px; left:1%; width:98%; height:50px; background:rgba(0,0,0,.8); border-radius:10px;}
.recom-site-logo{width:40px; height:40px; margin-right:10px;}
.search-recommoend .recom-text{color:#fff;}
.search-recommoend .recom-text span{font-weight:bold;}
.search-recommoend .right-icon{display:inline-block; width:20px; height:18px; right:15px; top:15px;/* background:url("images/icon/right-icon.gif") no-repeat;*/ background-size:100% 100%;}
.recomlist1 li{width:100%; padding:5px 0 0 10px;}
.recomlist2  li{width:50%; padding:5px 0 0 10px;}
.recomlist2 .recom-text img{width:10px; height:9px;}

/*弹层样式*/
.shade{
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index:100;
}
.content{
    position: absolute;
    width: 82%;
    height: 400px;
    left: 50%;
    top:50%;
    margin-left:-41%;
    margin-top: -200px;
}
.conTop{
    width:100%;
    height: 165px;
    /*background: url("images/popupBg.png") no-repeat;*/
    background-size:100% 100%;
}
.conTop p{
    color: #66520a;
    font-size: 30px;
    font-weight: bold;
    padding-top: 18%;
    width: 76%;
    margin-left: 17%;
    line-height: 1.1;
}
.conBot{
    width:100%;
    background: #fff;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.conBot p{
    color: #555;
    font-size: 16px;
    line-height: 1.3;
    padding: 5px 4%;
}
.conBot .cancel{
    display: block;
    width: 40%;
    height: 35px;
    background: #17d7b0;
    margin: auto;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 5px;
    text-indent: 10px; 
    font-size: 18px;
}


.icon-down-open-mini:before {
    content: "\e803";
}
.ft14 {
    font-size: 14px;
}


.arrow{
    background:url('../../assests/img/row.png') no-repeat;
    display:inline-block;
    width: 12px; 
    height: 12px; 
    line-height: 18px;  
    /*margin-top: 10px;*/
}
.arrow:after{
    display:none  !important;
}



.goodslist{
    position:relative;
}
main.showlist{
    height: 2000px;

}
.conditionArea{
    position:relative;
}
.conditionArea_fixed{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}



/*列表展示*/
.listdata ,.listul {
    margin:0;
}
.listli {
    width: 100%;
    height: 120px;
    background:#fff;
}
.listli{
    border-bottom: 1px solid #ccc;
}
.listdata .listul .listli img{
    display:block;
    width: 100px;
    height: 100px;
    float: left;
    margin:10px 0 10px 0;

}
.listdata .listul .listli .listp{
    position:relative;
    margin:0;
    float: left;
    width: 232px;

}
.listdata .listul .listli .listp span{
    display:inline-block;
    /*height: 20px;*/
    /*line-height: 20px;*/
    font-size: 14px;
    margin:5px 0;
}
.listdata .listul .listli .listp span:nth-of-type(1){
    height: 32px;
    line-height: 16px;

}
.listdata .listul .listli .listp .lastspan{
    position:absolute;
    display:block;
    /*background:url('https://static.epetbar.com/static_wap/epetapp/pages/index/images/addcart.png') no-repeat;*/
    width: 30px;
    height: 30px;
    bottom: -5px;
    right: -15px;
}



